# Vim
*.swp

# JetBrains/IntelliJ
.idea

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.\#*
.dir-locals.el

# Mac OS X
.DS_Store

dist
node_modules
npm-debug.log
yarn-error.log
.eslintcache
*.tsbuildinfo
